.task-list__box {
    display: flex;
    min-width: 331px;
    max-width: 1000px;
    min-height: 95vh;
    margin: 0 auto;
}

.task-list__addTask {
    flex: 1;
    min-width: 30px;
    max-width: 50px;
    border-right: 2px dashed black;
}

.task-list__iconAdd {
    position: sticky;
    top: 49vh;
    height: 20px;
    width: 100%;
    text-align: center;
}

.task-list {
    flex: 2;
    min-width: 299px;
    max-width: 949px;
    padding: 10px;
    border-right: 2px dashed black;
}