.task-list__box {
    display: flex;
    min-width: 532px;
    max-width: 1000px;
    min-height: 95vh;
    margin: 0 auto;
}

.task-list__addTask {
    flex: 1;
    min-width: 29px;
    max-width: 49px;
    border-right: 2px dashed black;
}

.task-list__iconAdd {
    position: sticky;
    top: 49vh;
    height: 20px;
    width: 100%;
    text-align: center;
}

.task-list {
    flex: 4;
    min-width: 300px;
    max-width: 680px;
    padding: 10px;
    border-right: 2px dashed rgb(194, 122, 14);
}

.advanced-box {
    flex: 2;
    min-width: 200px;
    max-width: 370px;
}
